<div class="container">
  <div class="row login-form">
    <div class="col s12 m6 center-align">
      <div class="card indigo lighten-4">
        <div class="card-content white-text ">
          <span class="card-title">Login</span>
          <div class="row valign-wrapper">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email-login" type="text">
                  <label for="email-login">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password-login" class="materialize-textarea" type="password">
                  <label for="password-login">Password</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Login</button>
                <a href="/signup" class="waves-effect waves-light btn">Signup</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    
  </div>
  
</form>
<a ><button type="button" >New User signup</button></a> --}}
<script src="/javascript/login.js"></script>