<div class="container">
  <div class="row signup-form">
    <div class="col s12 m6 center-align">
      <div class="card indigo lighten-4">
        <div class="card-content white-text ">
          <span class="card-title">Signup</span>
          <div class="row valign-wrapper">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="username-signup" type="text">
                  <label for="username-signup">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email-signup" type="text">
                  <label for="email-signup">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password-signup" class="materialize-textarea" type="password">
                  <label for="password-signup">Password</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>