{{> post-info post}}

    <a class="waves-effect waves-light btn" id="add-comment">Comment on Post</a>


<div class="row new-comment hide">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="comment-words" class="materialize-textarea"></textarea>
                    <label for="comment-words">Comment:</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" >Submit</button>
        </form>
    </div>
    

{{#if post.comments.length}}
<div class="row">
    <div class="col">
        <h3>Comments</h3>
        <div class="comments">
            {{#each post.comments}}
            <section class="comment">
                <div class="meta">
                    {{user.username}} on {{created_at}}
                </div>
                <div class="text">
                    {{comment_text}}
                </div>
            </section>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}

<script src="/javascript/add-comment.js"></script>